.navbar {
    position: sticky;
    background-color:darkslategrey;
}
#welcome {
    text-align: center;
    height: 100vh;
    width: 100vw;
}
.navigation {
    align-items: center;
    justify-content:center;
}