#title {
    text-align:center;
    font-size: 4rem;
}
#tribute-info {
    text-align:center;
    margin-top: -50px;
}
#img-div {
  
}
#image {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    transition: FadeInOut 0 .5s;
}
body {
    background-color: #338333;
}
h1, h2, p, li {
    color:#5f2086;
    text-align:center;
}
ul {
    list-style: none;
}
li {
    margin: 20px 0px;
}
#sub-title {
    margin-top: -40px;
}
#more-info {
    background-color: #5aa85a;
    margin: 10px 0px;
}
.photos {
    height: 300px;
}